<?xml version='1.0' encoding='UTF-8'?>
<slave>
  <name>Jenkins Slave</name>
  <description></description>
  <remoteFS>/var/lib/jenkins/</remoteFS>
  <numExecutors>1</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.13">
    <host>10.10.20.15</host>
    <port>22</port>
    <credentialsId>9d314c68-12c6-410a-b8b2-71b9ba39c1f6</credentialsId>
    <maxNumRetries>0</maxNumRetries>
    <retryWaitTime>0</retryWaitTime>
  </launcher>
  <label></label>
  <nodeProperties/>
</slave>